/*
 * Copyright © 2020 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
 * property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
 * property law. Dissemination of this information or reproduction of this material is strictly forbidden,
 * unless prior written permission is obtained from EPAM Systems, Inc
 */

.vote {
  padding: 1px 7px;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
  background-color: rgb(24, 183, 236);
  border: 1px solid#fff;
  border-radius: 5px;
}

.star {
  color: rgb(24, 183, 236);
  margin: 0 8px 0 0;
}
