/*
 * Copyright © 2020 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
 * property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
 * property law. Dissemination of this information or reproduction of this material is strictly forbidden,
 * unless prior written permission is obtained from EPAM Systems, Inc
 */
.navbar {
  @media (max-width: 599px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buttons {
    display: inline-flex;

    @media (max-width: 599px) {
      align-items: center;
      width: 100%;
    }

    &_button {
      margin: 0 20px 0 0;
      padding: 0;
      width: fit-content;
      font-size: 20px;
      color: rgb(24, 183, 236);
      background-color: rgb(240, 240, 240);
      border-bottom: 2px solid transparent;
      cursor: pointer;

      @media (max-width: 599px) {
        margin: 0 2px;
        height: 32px;
        width: 33%;
        font-size: 15px;
        line-height: 32px;
        text-align: center;
        border-radius: 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.active_button {
  border-bottom: 2px solid rgb(24, 183, 236);
}
